################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/Resources/Import/test.elem
/source/Resources/Import/test.pts
/source/Resources/Import/test.surf
/source/TempFiles
/source/Resources
/source/.vs
/lib
/bin
